<a href="https://colab.research.google.com/github/19PA1A0524/Artificial-intelligence-and-machine-learning-2nd-year-1st-sem/blob/master/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("students_placement_data.csv")
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
x=data[["SSC Percentage"]].values
y=data[["B.Tech_percentage"]].values

In [14]:
x.shape

(117, 1)

In [15]:
y.shape

(117, 1)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

model = LinearRegression()  
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:

model.intercept_

array([8.34771047])

In [19]:
model.coef_

array([[0.68200305]])

In [22]:


predicted_quality=model.predict(x_test)
predicted_quality.shape

(30, 1)

In [24]:
x_test.shape

(30, 1)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [39]:
Actual_predicted

    Actual  Predicted
0    71.49  59.630510
1    81.10  74.290991
2    62.98  47.519678
3    68.70  62.498865
4    61.02  62.020806
5    60.53  42.021998
6    61.00  63.375307
7    35.84  61.463070
8    68.30  64.968838
9    69.62  69.430723
10   83.38  70.227488
11   45.26  53.017358
12   78.00  72.299078
13   54.18  68.315252
14   65.53  65.231770
15   52.00  59.789863
16   51.00  63.375307
17   73.13  63.933043
18   74.30  71.502313
19   63.41  62.658218
20   70.01  66.562368
21   55.70  55.335945
22   74.96  69.510400
23   70.85  72.538108
24   57.30  57.001185
25   42.00  62.658218
26   74.25  75.725169
27   31.20  44.013911
28   52.09  60.347599
29   53.00  70.227488

In [0]:
x=data[["inter_Diploma_percentage"]].values
y=data[["B.Tech_percentage"]].values

In [29]:
x.shape

(117, 1)

In [30]:
y.shape

(117, 1)

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

model = LinearRegression()  
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
model.intercept_

array([-1.16268042])

In [33]:
model.coef_

array([[0.79676528]])

In [34]:
predicted_quality=model.predict(x_test)
predicted_quality.shape

(30, 1)

In [36]:
x_test.shape

(30, 1)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [40]:
Actual_predicted

    Actual  Predicted
0    71.49  59.630510
1    81.10  74.290991
2    62.98  47.519678
3    68.70  62.498865
4    61.02  62.020806
5    60.53  42.021998
6    61.00  63.375307
7    35.84  61.463070
8    68.30  64.968838
9    69.62  69.430723
10   83.38  70.227488
11   45.26  53.017358
12   78.00  72.299078
13   54.18  68.315252
14   65.53  65.231770
15   52.00  59.789863
16   51.00  63.375307
17   73.13  63.933043
18   74.30  71.502313
19   63.41  62.658218
20   70.01  66.562368
21   55.70  55.335945
22   74.96  69.510400
23   70.85  72.538108
24   57.30  57.001185
25   42.00  62.658218
26   74.25  75.725169
27   31.20  44.013911
28   52.09  60.347599
29   53.00  70.227488

Bias is the simplifying assumptions made by the model to make the target function easier to approximate. Variance is the amount that the estimate of the target function will change given different training data

in overfitting there will be low bias and high variance.it gives correct assumption for train data,but wrong assumption for test data.it is simply like mugging up with the given data.

in under fitting ,there will  be high bias and low variance.hence the assumption goes wrong for both the train and test datas.

CROSS VALIDATION
It is a procedure to evaluate the perfectness of algorithm in machine learning.in this, a limited ssample is taken into consideration and is checked on he data which is not taken into consideration durring the training.It is used to estimate the accuracy of the data.it is used to train a modelthat will be further used in the predictions.

In [0]:
 it gives correct assumption fortrain data but for test data ,it gives wrong